* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}
.head {
  display: flex;
  justify-content: end;
}
.btn-cart {
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  border: none;
  padding: 10px;
  background-color: rgb(241, 7, 7);
  cursor: pointer;
  border: 1px solid rgb(241, 7, 7);
}
.btn-cart:hover {
  background-color: aliceblue;
  color: black;
  border: 1px solid #f26376;
}
.products2 {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  justify-content: center;
}
.by-btn {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  padding: 10px;
  background-color: rgb(241, 7, 7);
  cursor: pointer;
  border: 1px solid rgb(241, 7, 7);
  color: #fff;
}
.by-btn:hover {
  background-color: aliceblue;
  color: black;
  border: 1px solid #f26376;
  color: black;
}
